fastapi==0.88.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
lightning==2.0.1
matplotlib==3.7.1
numpy==1.25.0
pandas==2.0.3
pip==23.1.2
python-dotenv==1.0.0
pytorch-lightning==2.0.4
scipy==1.11.1
seaborn==0.12.2
torch==2.0.1
torchinfo==1.8.0
torchmetrics==0.11.4
torchvision==0.15.2
tqdm==4.65.0
uvicorn==0.23.0
